@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');




body {
    background-image: radial-gradient(#fff,#000);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logo img{
    border: 2px solid white;
    border-radius:50% 50% 50% 50%;
    overflow: hidden;
    width:200px;
    height:200px;

}

.logo {
    width:205px;
    height:205px;
    align-items: center;
    padding-top:80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Fuzzy Bubbles";
    overflow: hidden;
    color: #fff;
    font-size: 29px;
    transition: 0.5s ease-in-out;
}

.head {
    width:100%;
    height:30%;
    margin: auto;
}



.logo:hover {
    transform: scale(1.3);
    transition: 0.5s ease-in-out;
    transition-delay:0.2s;
    height:500px;
}

@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

.logo:hover img{
    animation: color-rotate 1s;
    animation-iteration-count: infinite;
    animation-direction: forwards;
}


.aboutme {
    background-color: rgb(255, 145, 0,75%);
    border-radius: 50px;
    margin: 20px 80px;
    height:auto;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left:100px
}

.topic {
    font-size: 50px;
    font-family: "Fuzzy Bubbles";
    color: #fff;
    text-align: center;
}

.aboutme p {
    font-size: 30px;
    color: #fff;
    font-family: "Fuzzy Bubbles";
}

.connections {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 50px;
    margin: 20px 80px;
    height:auto;
    padding-bottom: 30px;
    padding-top: 50px;
    padding-left:100px;
    display:flex;
    justify-content: flex-end
}

.connections img {
    height: 100px;
    width:100px;
    padding-left: 150px;
    padding-right: 150px;
    transition: 0.5s ease-in-out;
}

.connections img:hover {
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}

.orange {
    color:rgb(255, 145, 0);
}

.projects {
    background-color: rgb(255, 145, 0,75%);
    border-radius: 50px;
    margin: 20px 80px;
    height:auto;
    padding-bottom: 30px;
    padding-top: 50px;
    padding-left:100px;
    display: flex;
    justify-content: center;
}

.project-component img{
    display:inline-block;
    padding-right:50px;
}

.project-component {
    height: 100px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.project-component a{
    font-family: "Fuzzy Bubbles";
    font-size: 80px;
    padding-left:20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}